<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>Admin</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="css/boostrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <script language="javascript" src="scripts/script.js"></script>
    </head>
    <body>
        <div class="container">
            <a href="listStudent.html"><img class="logo rounded" src="images/logo.jpg" alt="logo"/></a> 
            <a id="logout" th:href="@{/index}">Logout</a>
            <p id="welcome">Welcome, Nguyen Thanh Quang</p>
            <h1>STUDENT</h1>
            <form class="form" role="form" method="post" action="register">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Student Id:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" id="studentId">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Student Code:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="studentCode">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-dark" type="button">Generate Code</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Student Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="studentName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Birthday:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="calendar-js" onclick="createTable()" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">
                    </div>
                    <div id="calendar_table" class="calendar col-sm-4">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="studentAddress">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Average Score:</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" id="studentScore">
                    </div>
                </div>
				<div class="form-group center">
					<a th:href="@{/listStudent}"><button class="btn btn-primary btn-lg" type="button">Back</button></a>
                    <button class="btn btn-primary btn-lg" type="submit">Save</button>
				</div>
            </form>
        </div>
    </body>
</html>